<mat-card>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
	<mat-form-field>
          <mat-label>E-Mail Address:</mat-label>
          <input
		          matInput
		          type="email"
		          name="uemail"
		          placeholder="Email address"
		          #emailInput = "ngModel"
		          ngModel
		          required
		          email>
    </mat-form-field>

	<br>


    <mat-form-field appearance="fill">
      <mat-label>Password:</mat-label>
      <input matInput
             type="password"
             placeholder="Enter your password"
             name="upassword"
             ngModel
             #passwordInput="ngModel"
             required>
    </mat-form-field>

    <br>
    <button mat-button
            type="submit"
            color="primary">login
    </button>
  </form>
</mat-card>

