<mat-card>
	<mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">


    <mat-form-field>
          <mat-label>Post Title</mat-label>
          <input
		          matInput
		          type="text"
		          name="postTitle"
		          placeholder="Post Title"
		          required
		          ngModel>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your Post Content</mat-label>
      <textarea matInput
                type="text"
                placeholder="Post Content"
                name="postContent"
                required
                ngModel>
      </textarea>
    </mat-form-field>

    <br>
    <button mat-button
            type="submit"
            color="primary">save
    </button>
  </form>
</mat-card>

