<mat-card>
  <form (submit)="onAddPost(postForm)"
        #postForm="ngForm">


    <mat-form-field>
          <mat-label>Post Title</mat-label>
          <input
		          matInput
		          type="text"
		          name="postTitle"
		          placeholder="Post Title"
		          ngModel>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your Post Content</mat-label>
      <textarea matInput
                type="text"
                placeholder="Post Content"
                name="postContent" ngModel>
      </textarea>
    </mat-form-field>

    <br>
    <button mat-button
            type="submit"
            color="primary">save
    </button>
  </form>
</mat-card>

